/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    background-color: #137b80;
    font-family: 'Poppins', sans-serif;
}

#root {
    width: 960px;
    height: 650px;
}

/* DROPDOWNS */

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.dropdown-container label {
    margin-right: 0.2rem;
}

.dropdown-container select {
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

@media (max-width: 640px) {
    .dropdown-container {
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        font-size: 1rem;
    }

    .dropdown-container select {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .dropdown-container {
        gap: 0.5rem;
        font-size: 0.6rem;
    }

    .dropdown-container select {
        font-size: 0.6rem;
    }
}


/* RESPONSIVE SVG */

.responsive-div {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

svg {
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}